@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model University.ViewModels.TeachersViewModel

@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = user != null ? await UserManager.IsInRoleAsync(user, "Admin") : false;
    string degrees="";
    string subjects = "";
}
@if (Model.SelectedTeacher != null)
{
    Teacher teacher = Model.SelectedTeacher;
    <div class="profile">
        <div class="profile__container">
            <p class="profile__status">Информация о преподавателе</p>
            <div class="profile__picture">
                @{
                    string filePath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", teacher.ImagePath.TrimStart('/'));
                }
                @if (System.IO.File.Exists(@filePath))
                {
                    <img src="@teacher.ImagePath" alt="Фото профиля" class="profile__picture_image">
                }
                else
                {
                    <img src="/images/default_empty.jpg" alt="Фото профиля отсутствует" class="profile__picture_image">
                }
            </div>
            <div class="profile__name_container">
                <p class="profile__name">Имя: @teacher.Name</p>
            </div>
            <div class="profile__surname_container">
                <p class="profile__surname">Фамилия: @teacher.Surname</p>
            </div>
            <div class="profile__patronymic_container">
                <p class="profile__patronymic">Отчество: @teacher.Patronymic</p>
            </div>
            <div class="profile__dateofbirth_container">
                <p class="profile__dateofbirth">Дата рождения: @teacher.DateOfBirth.ToString("dd-MM-yyyy")</p>
            </div>
            <div class="profile__description_container">
                <p class="profile__description">Описание: @(!string.IsNullOrEmpty(@teacher.Description) ? teacher.Description : "*Пусто*")</p>
            </div>
            <div class="profile__degree_container">
                @{degrees="";}
                @foreach (var degree in @teacher.Degrees)
                {
                    degrees += degree;
                    if (@teacher.Degrees.IndexOf(degree) != @teacher.Degrees.Count - 1)
                    {
                        degrees += ", ";
                    }
                }
                <p class="profile__degree">Степень: @degrees</p>
            </div>
            <div class="profile__subjects_container">
                @{subjects="";}
                @if (@teacher.Subjects != null)
                {
                    @foreach (var subject in @teacher.Subjects)
                    {
                        subjects += subject.Name;
                        if (@teacher.Subjects.IndexOf(subject) != @teacher.Subjects.Count - 1)
                        {
                            subjects += ", ";
                        }
                    }
                }
                else
                {
                    subjects = "Нет";
                }
                <p class="profile__subjects">Ведёт предметы: @subjects</p>
            </div>
        </div>
    </div>
}
else
{
    <form class="filter__form" asp-action="SearchTeachers" asp-controller="Teacher" method="get">
        <div>
            <label>ФИО: </label>
            <input type="text" name="searchFIO" placeholder="ФИО преподавателя..." value="@Model.SearchFIO" />

            <label>Ученая степень: </label>
            <select name="selectedDegree">
                <option value="">По умолчанию</option>

                @foreach (var degree in Model.UniqueDegrees)
                {
                    <option value="@degree" selected="@(Model.SelectedDegree == degree)">@degree</option>
                }
            </select>

            <label>Предмет: </label>
            <select name="selectedSubject">
                <option value="">По умолчанию</option>
                @foreach (var subject in Model.Subjects)
                {
                    <option value="@subject.Name" selected="@(Model.SelectedSubject != null && Model.SelectedSubject.Name == subject.Name)">@subject.Name</option>
                }
            </select>
            <input type="submit" value="Поиск" />
        </div>
    </form>

    <table>
        <caption>Преподаватели</caption>
        <thead>
            <td>ФИО</td>
            <td>Дата рождения</td>
            <td>Ученая степень</td>
            <td>Описание</td>
            <td>Предметы</td>
            @if (isAdmin)
            {
                <td colspan="2">Действия</td>
            }
        </thead>

        @if (Model.FilteredTeachers != null && Model.FilteredTeachers.Any())
        {
            @foreach (var teacher in Model.FilteredTeachers)
            {
                degrees = "";
                subjects = "";
                <tr>
                    <td><a target="_blank" asp-action="SearchTeachers" asp-controller="Teacher" asp-route-selectedTeacher="@teacher.Name">@(@teacher.Surname + " " + @teacher.Name + " " + @teacher.Patronymic)</a></td>
                    <td>@teacher.DateOfBirth.ToString("dd-MM-yyyy")</td>

                    @foreach (var degree in @teacher.Degrees)
                    {
                        degrees += degree;
                        if (teacher.Degrees.IndexOf(degree) != teacher.Degrees.Count - 1)
                        {
                            degrees += ", ";
                        }
                    }
                    <td class="table__col_degrees">@(!string.IsNullOrEmpty(degrees) ? degrees : "Пусто")</td>
                    <td class="table__col_description">@(!string.IsNullOrEmpty(@teacher.Description) ? @teacher.Description : "*Пусто*")</td>
                    @if (teacher.Subjects != null)
                    {
                        @foreach (var subject in @teacher.Subjects)
                        {
                            subjects += subject.Name;
                            if (teacher.Subjects.IndexOf(subject) != teacher.Subjects.Count - 1)
                            {
                                subjects += ", ";
                            }
                        }
                    }
                    <td class="table__col_subjects">@(!string.IsNullOrEmpty(subjects) ? subjects : "Пусто")</td>
                    @if (isAdmin)
                    {
                        <td>
                            <button type="button" class="update__button"
                                    data-id="@teacher.Id"
                                    data-name="@teacher.Name"
                                    data-surname="@teacher.Surname"
                                    data-patronymic="@teacher.Patronymic"
                                    data-dateofbirth="@teacher.DateOfBirth.ToString("o")"
                                    data-degrees="@string.Join(",", teacher.Degrees)"
                                    data-description="@teacher.Description"
                                    data-subjects="@string.Join(",", teacher.Subjects.Select(s => s.Id))">
                                Изменить
                            </button>
                        </td>
                        <td><a asp-action="DeleteTeacher" asp-controller="Teacher" asp-route-TeacherID="@teacher.Id">Удалить</a></td>
                    }
                </tr>
            }
        }
        else
        {
            <tfoot>
            <td colspan="@(isAdmin?6:4)">Результатов нет</td></tfoot>
        }
    </table>

    @if (isAdmin)
    {

        <div class="add__button_container">
            <button type="button" id="add__button" class="add__button">+Добавить</button>
        </div>

        <div class="create__container" style="display: none;">
            <form class="create__form" asp-action="CreateTeacher" asp-controller="Teacher" method="post" enctype="multipart/form-data">
                <p class="create__name">Имя: </p>
                <input name="createName" placeholder="Имя..." required>
                <p class="create__surname">Фамилия:</p>
                <input name="createSurname" placeholder="Фамилия..." required>
                <p class="create__patronymic">Отчество (если есть):</p>
                <input name="createPatronymic" placeholder="Отчество...">
                <p class="create__dateOfBirth">Дата рождения:</p>
                <input type="date" id="createDateOfBirth" name="createDateOfBirth" placeholder="Дата рождения..." required>
                <p class="create__degrees">Степени (если есть):</p>
                <input type="text" name="createDegrees" placeholder="Степени...">
                <p class="create__description">Описание:</p>
                <input name="createDesc" placeholder="Описание...">
                <p class="create__photo">Фотография:</p>
                <input type="file" name="createImage" placeholder="Фото...">
                <p class="create__subjects">Предметы:</p>
                @if (Model.Subjects.Count != 0)
                {
                    <div class="create__subjects_container">
                        @foreach (var subject in Model.Subjects)
                        {
                            <div class="create__subjects_item">
                                <input type="checkbox" name="crSelectedSubjects" value="@subject.Id" />
                                <label>@subject.Name</label>
                                <input type="hidden" name="crSelectedSubjects.Index" value="@subject.Id" />
                            </div>
                        }
                    </div>
                }
                else
                {
                    <button type="button" class="create__subject" onclick="location.href='@Url.Action("Subjects", "Subject")'">Создать предмет</button>
                }
                <input class="create__btn" type="submit" value="Добавить преподавателя">
            </form>
        </div>

        <div class="update__container" style="display: none;">
            <form class="update__form" asp-action="UpdateTeacher" asp-controller="Teacher" method="post" enctype="multipart/form-data">
                <input type="hidden" name="updateId" id="updateTeacherId" />
                <p class="update__name">Имя: </p>
                <input name="updateName" placeholder="Имя..." required>
                <p class="update__surname">Фамилия:</p>
                <input name="updateSurname" placeholder="Фамилия..." required>
                <p class="update__patronymic">Отчество (если есть):</p>
                <input name="updatePatronymic" placeholder="Отчество...">
                <p class="update__dateOfBirth">Дата рождения:</p>
                <input type="date" id="updateDateOfBirth" name="updateDateOfBirth" placeholder="Дата рождения..." required>
                <p class="update__degrees">Степени (если есть):</p>
                <input type="text" name="updateDegrees" placeholder="Степени...">
                <p class="update__description">Описание:</p>
                <input name="updateDesc" placeholder="Описание...">
                <p class="update__photo">Фотография:</p>
                <input type="file" name="currentImagePath" placeholder="Фото...">
                <p class="update__subjects">Предметы:</p>
                @if (Model.Subjects.Count != 0)
                {
                    <div class="create__subjects_container">
                        @foreach (var subject in Model.Subjects)
                        {
                            <div class="create__subjects_item">
                                <input type="checkbox" name="SelectedSubjects" value="@subject.Id" />
                                <label>@subject.Name</label>
                                <input type="hidden" name="SelectedSubjects.Index" value="@subject.Id" />
                            </div>
                        }
                    </div>
                }
                else
                {
                    <button type="button" class="create__subject" onclick="location.href='@Url.Action("Subjects", "Subject")'">Создать предмет</button>
                }
                <input class="update__btn" type="submit" value="Обновить информацию">
            </form>
        </div>
    }
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.update__button').on('click', function () {
                var teacherId = $(this).data('id');
                var teacherName = $(this).data('name');
                var teacherSurname = $(this).data('surname');
                var teacherPatronymic = $(this).data('patronymic');
                var teacherDateOfBirth = $(this).data('dateofbirth');
                var teacherDegrees = $(this).data('degrees');
                var teacherDescription = $(this).data('description');
                var selectedSubjects = $(this).data('subjects').split(',');

                $('#updateTeacherId').val(teacherId);
                $('input[name="updateName"]').val(teacherName);
                $('input[name="updateSurname"]').val(teacherSurname);
                $('input[name="updatePatronymic"]').val(teacherPatronymic);
                $('input[name="updateDateOfBirth"]').val(new Date(teacherDateOfBirth).toISOString().split('T')[0]);
                $('input[name="updateDegrees"]').val(teacherDegrees);
                $('input[name="updateDesc"]').val(teacherDescription);


                // Сброс всех чекбоксов
                $('input[name="SelectedSubjects"]').prop('checked', false);

                // Установка значений для чекбоксов
                if (selectedSubjects) {
                    selectedSubjects.forEach(function (subjectId) {
                        $('input[name="SelectedSubjects"][value="' + subjectId + '"]').prop('checked', true);
                    });
                }

                $('#add__button').text('Закрыть');
                if (!$('.update__container').is(':visible')) {
                    $('.create__container').hide();
                    $('.update__container').show();
                }
            });
            $('#add__button').on('click', function () {
                if (!$('.create__container').is(':visible') && !$('.update__container').is(':visible')) {
                    $('.create__container').show();
                    $('#add__button').text('Закрыть');
                } else if ($('.create__container').is(':visible')) {
                    $('.create__container').hide();
                    $('#add__button').text('+Добавить');
                } else if ($('.update__container').is(':visible')) {
                    $('.update__container').hide();
                    $('#add__button').text('+Добавить');
                }
            });
        });
        function checkImageFile(file) {
            const allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

            const extension = '.' + file.name.split('.').pop();

            if (!allowedExtensions.exec(extension)) {
                alert('Выбранный файл не является изображением. Выберите файл с расширением .jpg, .jpeg или .png.');
                return false;
            }
            return true;
        }

        document.querySelector('input[type="file"]').addEventListener('change', () => {
            const file = this.files[0];
            if (file && !checkImageFile(file)) {
                this.value = '';
            }
        });
    </script>
}

