@{
    ViewData["Title"] = "Groups List";
}
@model University.Models.GroupsViewModel

<form asp-action="SearchGroups" method="get">
    <div>
        <label>Название: </label>
        <input type="text" name="searchTerm" placeholder="Название группы..." value="@Model.SearchTerm" />

        <label>Курс: </label>
        <select name="selectedCourse">
            <option value="">Все курсы</option>
            @foreach (var course in Model.UniqueCourses)
            {
                <option value="@course" selected="@(Model.SelectedCourse == course)">@course</option>
            }
        </select>
        <input type="submit" value="Поиск" />
    </div>
</form>

<table>
    <caption>Группы</caption>
    <thead>
        <td>Наименование группы</td>
        <td>Описание</td>
        <td>Курс</td>
        <td>Куратор</td>
        <td>Студенты</td>
    </thead>
    @if (Model.FilteredGroups != null && Model.FilteredGroups.Any())
    {
        @foreach (var group in Model.FilteredGroups)
        {
            <tr>
                <td>@group.Name</td>
                <td class="table__col_description">@group.Description</td>
                <td>@(@group.Course != null ? @group.Course.Name : "Пусто")</td>
                <td><a asp-controller="Home" asp-action="SearchTeachers" asp-route-searchFIO="@(@group.Curator != null ? @group.Curator.Surname :"")">@(@group.Curator != null ? (@group.Curator.Surname + " " + @group.Curator.Name[0] + ". " + @group.Curator.Patronymic[0] + ". ") : "Пусто")</a></td>
                <td><a asp-controller="Home" asp-action="SearchStudents" asp-route-searchGroup="@group.Name">Просмотреть &#9660;</a></td>
            </tr>
        }
    }
    else
    {
        <tfoot><td  colspan="5">Результатов нет</td></tfoot>
    }
</table>


