@{
    ViewData["Title"] = "Students List";
}
@model University.Models.StudentsViewModel

<form asp-action="SearchStudents" method="get">
    <div>
        <label>ФИО: </label>
        <input type="text" name="searchFIO" placeholder="ФИО студента..." value="@Model.SearchFIO" />

        <label>Группа: </label>
        <input type="text" name="searchGroup" placeholder="Группа..." value="@Model.SearchGroup" />
        <input type="submit" value="Поиск" />
    </div>
</form>

<table>
    <caption>Студенты</caption>
    <thead>
        <td>ФИО</td>
        <td>Дата рождения</td>
        <td>Описание</td>
        <td>Группа</td>
    </thead>
    @if (Model.FilteredStudents != null && Model.FilteredStudents.Any())
    {
        @foreach (var student in Model.FilteredStudents)
        {
            <tr>
                <td>@(@student.Surname + " " + @student.Name + " " + @student.Patronymic)</td>
                <td>@student.DateOfBirth.ToString("dd-MM-yyyy")</td>
                <td class="table__col_description">@student.Description</td>
                <td>@(@student.Group != null ? @student.Group.Name : "Пусто")</td>
            </tr>
        }
    }
    else
    {
        <tfoot><td colspan="4">Результатов нет</td></tfoot>
    }
    
</table>


