@{
    ViewData["Title"] = "Teachers List";
    string degrees="";
    string subjects = "";
}
@model IEnumerable<University.Models.Teacher>
<table>
    <caption>Преподаватели</caption>
    <thead>
        <td>ФИО</td>
        <td>Дата рождения</td>
        <td>Ученая степень</td>
        <td>Описание</td>
        <td>Предметы</td>
    </thead>
    
    @foreach (var teacher in Model)
    {
        degrees = "";
        subjects = "";
        <tr>
            <td>@(@teacher.Surname + " " + @teacher.Name + " " + @teacher.Patronymic)</td>
            <td>@teacher.DateOfBirth.ToString()</td>
            
            @foreach (var degree in @teacher.Degrees)
            {
                degrees += degree;
                if (teacher.Degrees.IndexOf(degree) != teacher.Degrees.Count - 1)
                {
                    degrees += ", ";
                }
            }
            <td>@degrees</td>
            <td class="table__col_description">@teacher.Description</td>
            @if (teacher.Subjects != null)
            {
                @foreach (var subject in @teacher.Subjects)
                {
                    subjects += subject.Name;
                    if (teacher.Subjects.IndexOf(subject) != teacher.Subjects.Count - 1)
                    {
                        subjects += ", ";
                    }
                }

            }
            else
            {
                subjects="Пусто";
            }

            <td>@subjects</td>
        </tr>
    }
</table>


